.skills {
  color: var(--colot-text);
}
.a-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.a-li {
  font-size: 4rem;
  padding: 0.8rem 1.5rem;

  border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
  transition: all 0.4s ease 0s !important;
}
.a-li:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgba(197, 115, 230, 0.883) !important;
}
