.section {
  margin: 1rem 10rem;
  margin-bottom: 6rem;
}
li {
  list-style: none;
}
.header {
  text-align: center;
}

:root {
  --color-span: #cd5ff8;
  --colot-text: white;
}
#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  z-index: -1;
}
span {
  color: #cd5ff8;
}
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media only screen and (min-width: 1440px) {
  .app {
    max-width: 1440px;
    margin: 2rem auto;
  }
}
